<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 指定连接数据库的 JDBC 驱动包所在位置，指定到你本机的完整路径 -->
    <classPathEntry location="D:\mysql-connector-java-5.1.43.jar"/>
    <!-- 配置 table 表信息内容体，targetRuntime 指定采用 MyBatis3 的版本 -->
    <context id="tables" targetRuntime="MyBatis3">

        <!-- 抑制生成注释，由于生成的注释都是英文的，可以不让它生成 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>
        <!-- 配置数据库连接信息 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"

                        connectionURL="jdbc:mysql://localhost:3306/emdemo"
                        userId="root"
                        password="root">
        </jdbcConnection>
        <!-- 生成 model 类，targetPackage 指定 model 类的包名， targetProject 指定
       生成的 model 放在 eclipse 的哪个工程下面-->
        <javaModelGenerator targetPackage="com.example.demo1.model"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="false" />
            <property name="trimStrings" value="false" />
        </javaModelGenerator>
        <!-- 生成 MyBatis 的 Mapper.xml 文件，targetPackage 指定 mapper.xml 文件的
       包名， targetProject 指定生成的 mapper.xml 放在 eclipse 的哪个工程下面 -->
        <sqlMapGenerator targetPackage="mapper"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>
        <!-- 生成 MyBatis 的 Mapper 接口类文件,targetPackage 指定 Mapper 接口类的包
       名， targetProject 指定生成的 Mapper 接口放在 eclipse 的哪个工程下面 -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.example.demo1.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>
        <!-- 数据库表名及对应的 Java 模型类名 -->
<!--        <table tableName="tb_denizen" domainObjectName="Denizen"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        &lt;!&ndash; 数据库表名及对应的 Java 模型类名 &ndash;&gt;-->
<!--        <table tableName="tb_house" domainObjectName="House"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="tb_spend" domainObjectName="Spend"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->

        <table tableName="tb_user" domainObjectName="User"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="true"
               selectByExampleQueryId="false"/>
<!--        <table tableName="tb_parking" domainObjectName="Parking"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->

<!--        <table tableName="tb_staff" domainObjectName="Staff"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
    </context>

<!--    <context id="tables1" targetRuntime="MyBatis3">-->
<!--        &lt;!&ndash; 抑制生成注释，由于生成的注释都是英文的，可以不让它生成 &ndash;&gt;-->
<!--        <commentGenerator>-->
<!--            <property name="suppressAllComments" value="true" />-->
<!--        </commentGenerator>-->
<!--        &lt;!&ndash; 配置数据库连接信息 &ndash;&gt;-->
<!--        <jdbcConnection driverClass="com.mysql.jdbc.Driver"-->

<!--                        connectionURL="jdbc:mysql://localhost:3306/eisdemo1"-->
<!--                        userId="root"-->
<!--                        password="root">-->
<!--        </jdbcConnection>-->
<!--        &lt;!&ndash; 生成 model 类，targetPackage 指定 model 类的包名， targetProject 指定-->
<!--       生成的 model 放在 eclipse 的哪个工程下面&ndash;&gt;-->
<!--        <javaModelGenerator targetPackage="com.example.demo.model.inventory"-->
<!--                            targetProject="src/main/java">-->
<!--            <property name="enableSubPackages" value="false" />-->
<!--            <property name="trimStrings" value="false" />-->
<!--        </javaModelGenerator>-->
<!--        &lt;!&ndash; 生成 MyBatis 的 Mapper.xml 文件，targetPackage 指定 mapper.xml 文件的-->
<!--       包名， targetProject 指定生成的 mapper.xml 放在 eclipse 的哪个工程下面 &ndash;&gt;-->
<!--        <sqlMapGenerator targetPackage="mapper.inventory"-->
<!--                         targetProject="src/main/resources">-->
<!--            <property name="enableSubPackages" value="false" />-->
<!--        </sqlMapGenerator>-->
<!--        &lt;!&ndash; 生成 MyBatis 的 Mapper 接口类文件,targetPackage 指定 Mapper 接口类的包-->
<!--       名， targetProject 指定生成的 Mapper 接口放在 eclipse 的哪个工程下面 &ndash;&gt;-->
<!--        <javaClientGenerator type="XMLMAPPER"-->
<!--                             targetPackage="com.example.demo.mapper.inventory" targetProject="src/main/java">-->
<!--            <property name="enableSubPackages" value="false" />-->
<!--        </javaClientGenerator>-->
<!--        &lt;!&ndash; 数据库表名及对应的 Java 模型类名 &ndash;&gt;-->
<!--        <table tableName="tb_intoitory" domainObjectName="IntoItory"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        &lt;!&ndash; 数据库表名及对应的 Java 模型类名 &ndash;&gt;-->
<!--        <table tableName="tb_itorycheck" domainObjectName="ItoryCheck"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="tb_itoryid" domainObjectName="ItoryId"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="tb_itoryback" domainObjectName="ItoryBack"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="tb_itbccheck" domainObjectName="ItbcCheck"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="tb_itorybcid" domainObjectName="ItorybcId"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--    </context>-->

<!--    <context id="tables2" targetRuntime="MyBatis3">-->
<!--        &lt;!&ndash; 抑制生成注释，由于生成的注释都是英文的，可以不让它生成 &ndash;&gt;-->
<!--        <commentGenerator>-->
<!--            <property name="suppressAllComments" value="true" />-->
<!--        </commentGenerator>-->
<!--        &lt;!&ndash; 配置数据库连接信息 &ndash;&gt;-->
<!--        <jdbcConnection driverClass="com.mysql.jdbc.Driver"-->

<!--                        connectionURL="jdbc:mysql://localhost:3306/eisdemo1"-->
<!--                        userId="root"-->
<!--                        password="root">-->
<!--        </jdbcConnection>-->
<!--        &lt;!&ndash; 生成 model 类，targetPackage 指定 model 类的包名， targetProject 指定-->
<!--       生成的 model 放在 eclipse 的哪个工程下面&ndash;&gt;-->
<!--        <javaModelGenerator targetPackage="com.example.demo.model.sale"-->
<!--                            targetProject="src/main/java">-->
<!--            <property name="enableSubPackages" value="false" />-->
<!--            <property name="trimStrings" value="false" />-->
<!--        </javaModelGenerator>-->
<!--        &lt;!&ndash; 生成 MyBatis 的 Mapper.xml 文件，targetPackage 指定 mapper.xml 文件的-->
<!--       包名， targetProject 指定生成的 mapper.xml 放在 eclipse 的哪个工程下面 &ndash;&gt;-->
<!--        <sqlMapGenerator targetPackage="mapper.sale"-->
<!--                         targetProject="src/main/resources">-->
<!--            <property name="enableSubPackages" value="false" />-->
<!--        </sqlMapGenerator>-->
<!--        &lt;!&ndash; 生成 MyBatis 的 Mapper 接口类文件,targetPackage 指定 Mapper 接口类的包-->
<!--       名， targetProject 指定生成的 Mapper 接口放在 eclipse 的哪个工程下面 &ndash;&gt;-->
<!--        <javaClientGenerator type="XMLMAPPER"-->
<!--                             targetPackage="com.example.demo.mapper.sale" targetProject="src/main/java">-->
<!--            <property name="enableSubPackages" value="false" />-->
<!--        </javaClientGenerator>-->
<!--        &lt;!&ndash; 数据库表名及对应的 Java 模型类名 &ndash;&gt;-->
<!--        <table tableName="tb_sale" domainObjectName="Sale"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        &lt;!&ndash; 数据库表名及对应的 Java 模型类名 &ndash;&gt;-->
<!--        <table tableName="tb_salecheck" domainObjectName="SaleCheck"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="tb_saleid" domainObjectName="SaleId"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="tb_saleback" domainObjectName="SaleBack"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="tb_salebccheck" domainObjectName="SalebcCheck"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="tb_salebcid" domainObjectName="SalebcId"-->
<!--               enableCountByExample="false"-->
<!--               enableUpdateByExample="false"-->
<!--               enableDeleteByExample="false"-->
<!--               enableSelectByExample="true"-->
<!--               selectByExampleQueryId="false"/>-->
<!--    </context>-->
</generatorConfiguration>