<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo1.mapper.SpendMapper">
  <resultMap id="BaseResultMap" type="com.example.demo1.model.Spend">
    <id column="spend_id" jdbcType="VARCHAR" property="spendId" />
    <result column="spend_user_id" jdbcType="VARCHAR" property="spendUserId" />
    <result column="spend_user_name" jdbcType="VARCHAR" property="spendUserName" />
    <result column="spend_houseid" jdbcType="CHAR" property="spendHouseid" />
    <result column="spend_roomid" jdbcType="CHAR" property="spendRoomid" />
    <result column="spend_model" jdbcType="VARCHAR" property="spendModel" />
    <result column="spend_year" jdbcType="CHAR" property="spendYear" />
    <result column="spend_num" jdbcType="DECIMAL" property="spendNum" />
    <result column="spend_note" jdbcType="VARCHAR" property="spendNote" />
    <result column="spend_time" jdbcType="TIMESTAMP" property="spendTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    spend_id, spend_user_id, spend_user_name, spend_houseid, spend_roomid, spend_model, 
    spend_year, spend_num, spend_note, spend_time
  </sql>
  <select id="selectByExample" parameterType="com.example.demo1.model.SpendExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_spend
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_spend
    where spend_id = #{spendId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_spend
    where spend_id = #{spendId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo1.model.Spend">
    insert into tb_spend (spend_id, spend_user_id, spend_user_name, 
      spend_houseid, spend_roomid, spend_model, 
      spend_year, spend_num, spend_note, 
      spend_time)
    values (#{spendId,jdbcType=VARCHAR}, #{spendUserId,jdbcType=VARCHAR}, #{spendUserName,jdbcType=VARCHAR}, 
      #{spendHouseid,jdbcType=CHAR}, #{spendRoomid,jdbcType=CHAR}, #{spendModel,jdbcType=VARCHAR}, 
      #{spendYear,jdbcType=CHAR}, #{spendNum,jdbcType=DECIMAL}, #{spendNote,jdbcType=VARCHAR}, 
      #{spendTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo1.model.Spend">
    insert into tb_spend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spendId != null">
        spend_id,
      </if>
      <if test="spendUserId != null">
        spend_user_id,
      </if>
      <if test="spendUserName != null">
        spend_user_name,
      </if>
      <if test="spendHouseid != null">
        spend_houseid,
      </if>
      <if test="spendRoomid != null">
        spend_roomid,
      </if>
      <if test="spendModel != null">
        spend_model,
      </if>
      <if test="spendYear != null">
        spend_year,
      </if>
      <if test="spendNum != null">
        spend_num,
      </if>
      <if test="spendNote != null">
        spend_note,
      </if>
      <if test="spendTime != null">
        spend_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spendId != null">
        #{spendId,jdbcType=VARCHAR},
      </if>
      <if test="spendUserId != null">
        #{spendUserId,jdbcType=VARCHAR},
      </if>
      <if test="spendUserName != null">
        #{spendUserName,jdbcType=VARCHAR},
      </if>
      <if test="spendHouseid != null">
        #{spendHouseid,jdbcType=CHAR},
      </if>
      <if test="spendRoomid != null">
        #{spendRoomid,jdbcType=CHAR},
      </if>
      <if test="spendModel != null">
        #{spendModel,jdbcType=VARCHAR},
      </if>
      <if test="spendYear != null">
        #{spendYear,jdbcType=CHAR},
      </if>
      <if test="spendNum != null">
        #{spendNum,jdbcType=DECIMAL},
      </if>
      <if test="spendNote != null">
        #{spendNote,jdbcType=VARCHAR},
      </if>
      <if test="spendTime != null">
        #{spendTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo1.model.Spend">
    update tb_spend
    <set>
      <if test="spendUserId != null">
        spend_user_id = #{spendUserId,jdbcType=VARCHAR},
      </if>
      <if test="spendUserName != null">
        spend_user_name = #{spendUserName,jdbcType=VARCHAR},
      </if>
      <if test="spendHouseid != null">
        spend_houseid = #{spendHouseid,jdbcType=CHAR},
      </if>
      <if test="spendRoomid != null">
        spend_roomid = #{spendRoomid,jdbcType=CHAR},
      </if>
      <if test="spendModel != null">
        spend_model = #{spendModel,jdbcType=VARCHAR},
      </if>
      <if test="spendYear != null">
        spend_year = #{spendYear,jdbcType=CHAR},
      </if>
      <if test="spendNum != null">
        spend_num = #{spendNum,jdbcType=DECIMAL},
      </if>
      <if test="spendNote != null">
        spend_note = #{spendNote,jdbcType=VARCHAR},
      </if>
      <if test="spendTime != null">
        spend_time = #{spendTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where spend_id = #{spendId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo1.model.Spend">
    update tb_spend
    set spend_user_id = #{spendUserId,jdbcType=VARCHAR},
      spend_user_name = #{spendUserName,jdbcType=VARCHAR},
      spend_houseid = #{spendHouseid,jdbcType=CHAR},
      spend_roomid = #{spendRoomid,jdbcType=CHAR},
      spend_model = #{spendModel,jdbcType=VARCHAR},
      spend_year = #{spendYear,jdbcType=CHAR},
      spend_num = #{spendNum,jdbcType=DECIMAL},
      spend_note = #{spendNote,jdbcType=VARCHAR},
      spend_time = #{spendTime,jdbcType=TIMESTAMP}
    where spend_id = #{spendId,jdbcType=VARCHAR}
  </update>
</mapper>