<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
   <head>
      <title>物业管理主页</title>
<!--      <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
       <meta charset="UTF-8">
	  <!-- bootstrp的css文件 -->
      <link type="text/css" media="all" href="../../static/BootStrp/bootstrap-3.4.1-dist/css/bootstrap.min.css"
            th:href="@{/static/BootStrp/bootstrap-3.4.1-dist/css/bootstrap.min.css}" rel="stylesheet" />
	  
	  <!-- 菜单栏相关外部文件 -->
	  <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
	  
	  <link rel="stylesheet" type="text/css" media="all" href="../../static/menu_document/css/htmleaf-demo.css"
            th:href="@{/static/menu_document/css/htmleaf-demo.css}"/>
	  	<link rel="stylesheet" href="../../static/menu_document/assets/css/jquery.mCustomScrollbar.min.css"
              th:href="@{/static/menu_document/assets/css/jquery.mCustomScrollbar.min.css}"/>
	          <link rel="stylesheet" href="../../static/menu_document/assets/css/custom.css"
                    th:href="@{/static/menu_document/assets/css/custom.css}"/>
	  
	  
	  <!-- jquery的js文件 -->
      <script type="text/javascript" src="../../static/jquery/js/jquery-3.4.1.min.js"
              th:src="@{/static/jquery/js/jquery-3.4.1.min.js}"></script>
	  
	  <script  type="text/javascript" th:inline="javascript">
		  function getFormatDate(){
		      var nowDate = new Date();
		      var year = nowDate.getFullYear();
		      var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
		      var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
		      var hour = nowDate.getHours()< 10 ? "0" + nowDate.getHours() : nowDate.getHours();
		      var minute = nowDate.getMinutes()< 10 ? "0" + nowDate.getMinutes() : nowDate.getMinutes();
		      var second = nowDate.getSeconds()< 10 ? "0" + nowDate.getSeconds() : nowDate.getSeconds();
		      var nowTime = year + "-" + month + "-" + date+" "+hour+":"+minute+":"+second;
			  $('#nowTime').text(nowTime);
		  }
		  
		  
		  $(function(){
			  setInterval(getFormatDate,1000);
		  })
		  
		  
		</script>
	  
   </head>
   <div class="page-wrapper">
       <nav id="sidebar" class="sidebar-wrapper">
           <div class="sidebar-content">
               <a href="#" id="toggle-sidebar"><i class="fa fa-bars"></i></a>
               <div class="sidebar-brand">
                   <a href="#">pro sidebar</a>
               </div>
               <div class="sidebar-header">
                   <!-- <div class="user-pic">
                       <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="">
                   </div> -->
                   <div class="user-info">
                       <span class="user-name">Jhon <strong>Smith</strong></span>
                       <span class="user-role">Administrator</span>
                       <div class="user-status">
                           <a href="#"><span class="label label-success">Online</span></a>
                       </div>
                   </div>
               </div><!-- sidebar-header  -->
               <div class="sidebar-search">
                   <div>
                       <div class="input-group">
                           <input type="text" class="form-control search-menu" placeholder="Search for...">
                           <span class="input-group-addon"><i class="fa fa-search"></i></span>
                       </div>
                   </div>
               </div><!-- sidebar-search  -->
               <div class="sidebar-menu">
                   <ul>
                       <li class="header-menu"><span>Dropdown  menu</span></li>
                       <li class="sidebar-dropdown">
                           <a  href="#" ><i class="fa fa-tv"></i><span>Menu 1</span><span class="label label-danger">New</span></a>
                           <div id="" class="sidebar-submenu">
                               <ul id="menu1">
                                   <li><a href="../denizen/selectDenizen">住户信息管理<span class="label label-success">10</span></a> </li>
                                   <li><a href="../house/selectHouse">住房信息管理</a></li>
                                   <li><a href="../spend/selectSpend">住户缴费管理</a></li>
                                   <li><a href="../parking/selectParking">车位信息管理 </a></li>
                                   <li><a href="#">员工信息管理 </a></li>
<!--                                   <li id="mUser"><a href="#">用户信息管理 </a></li>-->

                               </ul>
                           </div>
                       </li>
                       <li class="sidebar-dropdown">
                           <a href="#"><i class="fa fa-photo"></i><span>Menu 2</span><span class="badge">3</span></a>
                           <div class="sidebar-submenu">
                               <ul>
                                   <li><a href="#">submenu 1 <span class="badge">2</span></a></li>
                                   <li><a href="#">submenu 2</a></li>
                                   <li><a href="#">submenu 3</a></li>
                                   <li><a href="#">submenu 4</a></li>
                               </ul>
                           </div>
                       </li>
                       <li class="sidebar-dropdown">
                           <a href="#"><i class="fa fa-bar-chart-o"></i><span>Menu 3</span></a>
                           <div class="sidebar-submenu">
                               <ul>
                                   <li><a href="#">submenu 1</a></li>
                                   <li><a href="#">submenu 2</a></li>
                                   <li><a href="#">submenu 3</a></li>
                                   <li><a href="#">submenu 4</a></li>
                               </ul>
                           </div>
                       </li>
                       <li class="sidebar-dropdown">
                           <a href="#"><i class="fa fa-diamond"></i><span>Menu 4</span></a>
                           <div class="sidebar-submenu">
                               <ul>
                                   <li><a href="#">submenu 1</a></li>
                                   <li><a href="#">submenu 2</a></li>
                                   <li><a href="#">submenu 3</a></li>
                                   <li><a href="#">submenu 4</a></li>
                               </ul>
                           </div>
                       </li>
                       <li class="header-menu"><span>Simple menu</span></li>
                       <li><a href="#"><i class="fa fa-tv"></i><span>Menu 1</span></a></li>
                       <li><a href="#"><i class="fa fa-photo"></i><span>Menu 2</span></a></li>
                       <li><a href="#"><i class="fa fa-bar-chart-o"></i><span>Menu 3</span></a></li>
                       <li><a href="#"><i class="fa fa-diamond"></i><span>Menu 4</span></a></li>
                   </ul>
               </div><!-- sidebar-menu  -->
           </div><!-- sidebar-content  -->

           <div class="sidebar-footer">
               <a href="#"><i class="fa fa-bell"></i><span class="label label-warning notification">3</span></a>
               <a href="#"><i class="fa fa-envelope"></i><span class="label label-success notification">7</span></a>
               <a href="#"><i class="fa fa-gear"></i></a>
               <a href="#"><i class="fa fa-power-off"></i></a>
           </div>
       </nav><!-- sidebar-wrapper  -->
       <main class="page-content">
           <div class="container-fluid">
               <header class="htmleaf-header">
                   <h1>欢迎登录物业管理系统</h1>
                   <h2><label id="nowTime"></label></h2>
               </header>
               <h1 style="text-align:center;">Pro sidebar template</h1>
               <h3 style="text-align:center;">点击左上角的 <i class="fa fa-bars"></i> 按钮来查看侧边栏效果</h3>
           </div>
       </main><!-- page-content" -->

   </div>

       <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
       <script src="../../static/BootStrp/bootstrap-3.4.1-dist/js/bootstrap.min.js"
               th:src="@{/static/BootStrp/bootstrap-3.4.1-dist/js/bootstrap.min.js}"></script>
       <!-- 包括所有已编译的插件 -->
       <script src="../../static/menu_document/assets/js/jquery.mCustomScrollbar.concat.min.js"
               th:src="@{/static/menu_document/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
       <script src="../../static/menu_document/assets/js/custom.js"
               th:src="@{/static/menu_document/assets/js/custom.js}"></script>


</body>
   <script  type="text/javascript" th:inline="javascript">
       $(function() {
           rootVerify()
       })


       function rootVerify(){
       let userInfo = [[${userInfo}]]
       // alert(userInfo)
       var menu = [[${userInfo.menuList}]];
       let pm = [[${userInfo.permissionList}]];
       // let b = menu.has('user');
       alert(menu)
           console.log(menu)
           // alert(b)
           const setMenu = new Set(menu);

       //ex2:遍历数组动态生成菜单

       //ex1：逐个验证菜单权限--遍历数组生成权限按钮
       if (setMenu.has('user')) {
           let html = "<li><a href='#'>用户信息管理 </a></li>";
           $("#menu1").append(html);
           // $("#menu1").html(function () {
           //     return "<li><a href=\"#\">用户信息管理 </a></li>\n";
           // });
           // if (pm.has('user:list')){
           //
           // }
       }
           if (setMenu.has('role')){
               let html1 = "<li><a href='#'>角色信息管理 </a></li>";
               $("#menu1").append(html1);
           }

       }

   </script>

</html>